<!DOCTYPE html>
<html lang="en">
<head>
        <style>
         body{
         background-color:lightblue;
     text-align:center;
     }
     a:hover{
     color:red;
     }

     a:active{
        color: yellow;
}


    }


      </style>

  <img src="https://www.bing.com/th?id=OIP.svFU3a2jRmS9_sSbV3t7JgAAAA&w=313&h=156&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" alt="abcdefghi" width=5%vp height=5%vp align="right">




  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">

    <table>



        <tr align="center">
          <td> <a class="nav-link" href="http://127.0.0.1:8000/" target="_self" ></a> </td>
          <td> <a class="nav-link" href="2"  target="_top">login </a> </td>
            <td> <a class=class="nav-link" href="3" target="_blank" target="_blank">grocery </a> </td>
          <td> <a class="nav-link" href="4" target="_blank">mobiles target="_blank"</a></td>
          <td> <a class="nav-link" href="5" target="_blank">Fashion </a></td>




        </tr>

      </table>


    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/">Home </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="2">login </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="3">grocery</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="4">mobiles</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="5">Fashion </a>
      </li>

    </ul>
  </div>
</nav>
    <meta charset="UTF-8">
    <title>Ecommerce</title>
  {% load static %}
</head>
<body>


{% block content %}


{% endblock %}


</body>

</html>