<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>user name in capital- {{na|upper}}</h1>
<h1>user name in 1st char in captital- {{na|capfirst}}</h1>
<h1>user name length- {{na|length}}</h1>
<h1>user name in lower case- {{na|lower}}</h1>
<h1>user name in lower case- {{na|lower}}</h1>
<h1>list values in 2 step slicing order- {{l|slice:":2"}}</h1>
<h1>truncatewords- {{p|truncatewords:5}}</h1>
<h1>truncatechar- {{p|truncatechars:5}}</h1>
<h1>default name fileter- {{d|default:"abc"}}</h1>

</body>
</html>