<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>third page</h1>
<h1>current year- {{x|date:"Y"}}</h1>
<h1>current month name- {{x|date:"M"}}</h1>
<h1>current month- {{x|date:"m"}}</h1>
<h1>current date- {{x|date:"d"}}</h1>
<h1>current day- {{x|date:"D"}}</h1>
<h1>number of days in the month- {{x|date:"t"}}</h1>
<h1>date format- {{x|date:"DATE_FORMAT"}}</h1>
<h1>time format- {{x|date:"TIME_FORMAT"}}</h1>
<h1>short date format- {{x|date:"SHORT_DATE_FORMAT"}}</h1>
<h1> dateTIME format- {{x|date:"DATETIME_FORMAT"}}</h1>
<h1>current day- {{x|date:"D"}}</h1>
</body>
</html>