<!DOCTYPE html>
<html lang="en">
<head>


  <style>
   body{
         background-color:lightblue;
a:hover{
     color:red;
     }

     a:active{
        color: yellow;
}
}


</style>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <img src="https://www.bing.com/th?id=OIP.svFU3a2jRmS9_sSbV3t7JgAAAA&w=213&h=106&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" align="right" width="65px" height="65px" >

  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">OjasInnovative</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href=" http://127.0.0.1:8000/
"></a></li>
      <li class="active"><a href="1"><img src="https://www.bing.com/th?id=OIP.qHAHjx6Gzs-A_jN6a8g_RAHaE-&w=304&h=205&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" width="45px" height="45px"></a></li>
      <li><a href="2"><img src="https://www.bing.com/th?id=OIP.KoGxrXMRIEBppovFFGFCvQHaH_&w=240&h=259&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" width="45px" height="45px"></a></li>
        <li><a href="4"><img src="https://www.bing.com/th?id=OIP.o3qbC3GS7P0_ZByPnLfHtQHaE7&w=306&h=204&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" width="45px" height="45px"></a></li>
        <li><a href="3"><img src="https://www.bing.com/th?id=OIP.-UeDUJPgM7t10FVKzbGafAHaEv&w=312&h=200&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" width="45px" height="45px"></a></li>
      <li><a href="5"><img src="https://www.bing.com/th?id=OIP.PhBUwHRr6-sdyHvY8MTLPwHaLG&w=204&h=306&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2" width="45px" height="45px"></a></li>
    </ul>
  </div>
</nav>





    {% load static %}

</head>

<body>
{% block content %}

{% endblock %}

</body>
</html>