
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
<div class="cont">

<form>
    <lable>First name</lable>
    <input type="text" placeholder="enter your first name" class="abc" > <br>

   <lable>middle  name</lable>
    <input type="text" placeholder="enter your middle name" class="abc" > <br>

    <lable>last name</lable>
    <input type="text" placeholder="enter your last name" class="abc" > <br>


    <lable>Address</lable>
    <input type="text" placeholder="enter your Address" class="abc" > <br>

    <lable>First name</lable>
    <input type="text" placeholder="enter your first name" class="abc" > <br>



</form>
    </div>

</body>
</html>
{% endblock %}