
{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="cont">

<form>
    <lable >First name: </lable>
    <input type="text" placeholder="enter your first name" class="abc" > <br><br>

   <lable>Middle  name: </lable>
    <input type="text" placeholder="enter your middle name" class="abc" > <br><br>

    <lable>Last name:</lable>
    <input type="text" placeholder="enter your last name" class="abc" > <br><br>


    <lable>Address:</lable>
    <input type="text" placeholder="enter your Address" class="abc" > <br><br>


    <input type="submit" placeholder="submit" class="abc" > <br><br>



</form>
    </div>

</body>
</html>

{% endblock %}