{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/col1.css' %}" rel="stylesheet">
</head>
<body>
  <div class="home">
  <h5><b>CAREER OBJECTIVE </b></h5>
<p>To work in an Organization where hard work, knowledge and sincerity are duly rewarded
and enhance my professional skills in a dynamic and stable environment.</p>
</div>
  <div>
    <h5><b>TECHNICAL SKILLS</b></h5>
    <ul>
      <li>Operating Systems : Windows XP/7,8.1, Linux</li>
      <li> Versioning Tools : GIT, GIT HUB.
</li>
      <li> CI/CD Tools : Jenkins</li>
      <li> Configuration Management : Ansible </li>
      <li>Containerization : Docker ,Kubernetes</li>
      <li>Build Tools : Maven</li>
      <li>Scripting : Shell Scripting</li>
      <li>Code Analysis Tools : SonarQube</li>
      <li>Software Repository : Nexus </li>
      <li>Application Servers : Tomcat </li>
      <li>Web Servers : Apache
 </li>
      <li>Monitoring Tools :Prometheus & Grafana </li>
      <li> Monitoring Tools :Prometheus & Grafana</li>



    </ul>

  </div>

  <div>
    <h5><b>PERSONAL TRAITS
</b></h5>
    <ul>
      <li>
         Easily communicate with each other.
      </li>
      <li> Flexible to the environment and time.

      </li>
      <li>Dedication and hard work towards achivieing high and goals.

      </li>

    </ul>

  </div>
  <div>


  </div>
  <h5><b>PROJECTS HANDLED</b></h5>
  <p><b>1. Project Name : Low Complexity VLSI Design Of Large Integer Multiplier for Fully
 Homomorphic Encryption</b> </p>
  <p>
    Large integer multiplication has been widely used in fully homomorphic encryption
(FHE).Implementing feasible large integer multiplication hardware is thus critical accelerating the FHE
evaluation process. We also extend the single port, merged-bank memory structure to the design of
number theoretic transform (NTT) and inverse NTT (INTT) for further area minimization.
  </p>

  <div>
    <h5><b>Personal Details
</b></h5>
    <p>
      Name : K. Nagasubba reddy <br>
      Father's name : Mr.K.Venkata subba reddy <br>
      Gender : Male <br>
      Date of Birth : 27-06-1998 <br>
      Nationality : Indian <br>
      Languages known : English, Telugu. <br>
      Hobbies : Playing cricket, Listening music <br>
      Address : S/O K. Venkatasubba Reddy
                Rajupalem (v),
                Munnelli (p),
                B.Koduru (M),
                Kadapa(D).
    </p>

    </div>

  <div>
    <h5><b>Declaration </b></h5>

    <p>

      I hereby declare that the above furnished information is true to the best of my knowledge and belief.
    </p>
    </div>
  <h6 ><b>Date: </b></h6>
  <h6><b>Place: </b></h6>
  <h6 align="right"><b>(konda nagasubba reddy) </b></h6>


</div>



</body>
</html>
{% endblock %}