{% extends 'base.html' %}
{% load static %}
{% block content %}

<br><br><br><br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/col1.css' %}" rel="stylesheet">
</head>
<body>
<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
<style>
.image-list-small {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  text-align: center;
  max-width: 640px;
  padding: 0;
}
.image-list-small li {
  display: inline-block;
  width: 181px;
  margin: 0 12px 30px;
}
</style>
</head>
<body>

<ul class="image-list-small">


    <li>
      <a href="#" style="background-image: url('img/image-3.jpg');"></a>
      <div class="details">
        <img src="https://th.bing.com/th/id/OIP.pPbk9i8d_8_8ko7-o8PKGgHaHa?w=220&h=220&c=7&r=0&o=5&pid=1.7" height="35%vp" width="35%vp">

<progress id="file" value="95" max="100"> 32% </progress>

      </div>
    </li>


      <li>
      <a href="#" style="background-image: url('img/image-4.jpg');"></a>
      <div class="details">


<img src="https://th.bing.com/th/id/OIP.WL9MrayC9MPdhnKZOezN5QHaHa?w=178&h=180&c=7&r=0&o=5&pid=1.7" height="35%vp" width="35%vp">

<progress id="file" value="60" max="100"> 32% </progress>
    </li>




    <li>
      <a href="#" style="background-image: url('img/image-1.jpg');"></a>
      <div class="details">
        <img src="https://th.bing.com/th/id/OIP.WPuup-WQt0dPjlkVUv6LGgHaHa?w=170&h=180&c=7&r=0&o=5&pid=1.7" height="35%vp" width="35%vp">

<progress id="file" value="80" max="100"> 32% </progress>
      </div>
    </li>



    <li>
      <a href="#" style="background-image: url('img/image-2.jpg');"></a>
      <div class="details">
        <img src="https://th.bing.com/th/id/OIP.YDpOnAUsB6i7kcn487WxMgHaHJ?w=185&h=180&c=7&r=0&o=5&pid=1.77" height="35%vp" width="35%vp">

<progress id="file" value="65" max="100"> 32% </progress>

      </div>
    </li>

















    <li>
      <a href="#" style="background-image: url('img/image-6.jpg');"></a>
      <div class="details">
        <img src="https://th.bing.com/th/id/OIP.SoDAVkq9qu5Ox58XPzBc5AHaHa?w=179&h=180&c=7&r=0&o=5&pid=1.7" height="35%vp" width="35%vp">

<progress id="file" value="80" max="100"> 32% </progress>
      </div>
    </li>




</ul>
</body>
</html>




</body>
</html>
    </div>


</body>
</html>
{% endblock  %}