<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>current year- {{a|date:"Y"}}</h1>
<h1>current month name- {{a|date:"M"}}</h1>
<h1>current month- {{a|date:"m"}}</h1>
<h1>current date- {{a|date:"d"}}</h1>
<h1>current day- {{a|date:"D"}}</h1>
<h1>number of days in the month- {{a|date:"t"}}</h1>
<h1>date format- {{a|date:"DATE_FORMAT"}}</h1>
<h1>time format- {{a|date:"TIME_FORMAT"}}</h1>
<h1>short date format- {{a|date:"SHORT_DATE_FORMAT"}}</h1>
<h1> dateTIME format- {{a|date:"DATETIME_FORMAT"}}</h1>
<h1>current day- {{a|date:"D"}}</h1>
</body>
</html>