<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}

    <link href="{% static 'css/col2.css' %}" rel="stylesheet">

</head>
<body>
<h1>REGISTRATION</h1>
<img src="{% static 'img/ss.jpg' %}"  alt="jkj"/>

<div class="first">
    <label>First Name: </label>
<input type="text" placeholder="enter ">
</div>
<div class="second">
    <label>last Name: </label>
<input type="text" placeholder="enter ">
</div>
<div>
    <label>Password: </label>
<input type="password" placeholder="enter ">
</div>
<div>
    <label>email</label>
<input type="email" placeholder="enter ">
</div>
<div>
   <label>boy</label>
<input type="radio"  name="yes">
    <label>girl</label>
<input type="radio" name="no">
</div>


</body>

</html>