<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>second app</title>
    {% load static %}
    <link src="{% static 'css/col2.css' %}" rel="stylesheet">
</head>
<body>

<img src="{% static 'img/b.jpg' %}" alt="abcd">

<div>
    <label>Email id</label>
    <input type="text" placeholder="enter your Email id">
</div>

<div>
    <label>Password</label>
    <input type="text" placeholder="enter your Password">
</div>

<div>
<label>click here to login</label>
    <input type="submit" placeholder="login" name="b">
    <input type="submit" placeholder="reset" name="b">

</div>

</body>
</html>