<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Core Python </title>
</head>
<body>
<h6><a href="#numpy">jump to numpy module</a></h6>
<h6><a href="#data">Jump to data types</a></h6>




{% load static %}

</head>

<body>

<div>
    <h1><a hred="https://www.w3schools.com/python/python_intro.asp" target="_blank">What is Python?</a></h1>

    <p>Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

web development (server-side),
software development,
mathematics,
system scripting.</p>
    <h2>What can Python do?</h2>
    <p>Python can be used on a server to create web applications.
Python can be used alongside software to create workflows.
Python can connect to database systems. It can also read and modify files.
Python can be used to handle big data and perform complex mathematics.
Python can be used for rapid prototyping, or for production-ready software development.</p>
    <h2>Why Python?</h2>
    <p>Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
Python has a simple syntax similar to the English language.
Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
Python can be treated in a procedural way, an object-oriented way or a functional way.</p>


</div>

<div>
    <a href="https://www.w3schools.com/python/python_operators.asp" target="_blank">Python Operators</a>
    <p>Operators are used to perform operations on variables and values.

In the example below, we use the + operator to add together two values:

    Python divides the operators in the following groups:

Arithmetic operators
Assignment operators
Comparison operators
Logical operators
Identity operators
Membership operators
Bitwise operators</p>

</div>
<div><h1>
    <a href="https://www.w3schools.com/python/python_lists.asp" target="_black">Python - List Methods</a> </h1>
    <p>
Method	Description
append()	  Adds an element at the end of the list
clear()	      Removes all the elements from the list
copy()	        Returns a copy of the list
count()	    Returns the number of elements with the specified value
extend()	    Add the elements of a list (or any iterable), to the end of the current list
index()	    Returns the index of the first element with the specified value
insert()	Adds an element at the specified position
pop()	    Removes the element at the specified position
remove()	Removes the item with the specified value
reverse()	Reverses the order of the list
sort()	Sorts the list</p>

</div>
<div>
    <h1>Python While Loops</h1>
    <p>Python has two primitive loop commands:

while loops
for loops
</p>


</div>

<div>
<h1 id="data"> <a href="https://www.w3schools.com/python/python_datatypes.asp" target="_blank"> Python Data Types</a></h1>

    <p>In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

Text Type:	str
Numeric Types:	int, float, complex
Sequence Types:	list, tuple, range
Mapping Type:	dict
Set Types:	set, frozenset
Boolean Type:	bool
Binary Types:	bytes, bytearray, memoryview
None Type:	NoneType</p>


</div>

<div>
    <h1><a href="https://www.w3schools.com/python/python_functions.asp">Python functions </a> </h1>
    <p> A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.</p>

    <p> Arguments
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:</p>



</div>


<div id="numpy">

 <h1>   <a href="https://www.w3schools.com/python/numpy/default.asp" target="_blank">  >Numpy module</a> </h1>
    <p>
        What is NumPy?
NumPy is a Python library used for working with arrays.

It also has functions for working in domain of linear algebra, fourier transform, and matrices.

NumPy was created in 2005 by Travis Oliphant. It is an open source project and you can use it freely.

NumPy stands for Numerical Python.

    </p>
    <p>Why Use NumPy?
In Python we have lists that serve the purpose of arrays, but they are slow to process.

NumPy aims to provide an array object that is up to 50x faster than traditional Python lists.

The array object in NumPy is called ndarray, it provides a lot of supporting functions that make working with ndarray very easy.

Arrays are very frequently used in data science, where speed and resources are very important.</p>
</div>

<div>


</div>



    {% block content %}

{% endblock %}

</body>
</html>

