<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Student Information</title>
  <style>
  table, th, tr, td {
   border: 1px solid black
  }
 </style>
</head>
<body>
<table>
<h3>Employee Details </h3>
 <th>ID</th>
 <th>Name</th>

 <th>City</th>
  <th>salary</th>


 {% for i in data %}
  <tr>
   <td>{{i.id}}</td>
   <td>{{i.name}}</td>
   <td>{{i.city}}</td>
   <td>{{i.salary}}</td>

  </tr>
 {% endfor %}
</table>
</body>
</html>